<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>pli content</title>
</head>
<body>
	<div th:fragment="scanPli"
		style="margin: 0.5rem 2rem 1rem 2rem; color: #000000;">
		<p
		style="margin-block-start: 0em; margin-block-end: 0.5em; margin-left: 2em;">
		<strong th:text="#{errorFile}"></strong>
		</p>
		<div
			style="flex-wrap: wrap; display: flex; justify-content: flex-start;">
			<p th:each="rootFile : ${enclosure.get('virusScan')}"
				style="margin-block-start: 0.25em; margin-block-end: 0.25em; margin-left: 3em;">
				<strong>&bull;&nbsp; <span
					th:text="${rootFile.get('filename').getAsString()}"></span>
				</strong> 
<!-- 				<span -->
<!-- 					th:if="${rootFile.get('fatalError').getAsString().equals('true')}"> -->
<!-- 					<span> -  -->
<!-- 						<strong> <span style="color: black" th:text="#{code.__${rootFile.get('errorCode').getAsString()}__}"></span> -->
<!-- 						</strong> -->
<!-- 					</span> -->
<!-- 					<br/> -->
<!-- 					<span style="color: black" th:text="#{code.__${rootFile.get('errorCode').getAsString()}__.detail}"> -->
<!-- 					</span> -->
<!-- 				</span> -->
			</p>
		</div>
	</div>
</body>
</html>
