<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>

	<div th:fragment="nomPli"
		style="margin: 0.5rem 2rem 1rem 2rem; color: #000000;">
		<p style="margin-block-start: 0em;margin-block-end: 0.5em;margin-left: 1.5em;">
			<strong
				th:if="${enclosure.get('publicLink').getAsString().equals('true')}" th:text="#{nom.pli}"></strong>&nbsp; <strong
				th:if="${enclosure.get('publicLink').getAsString().equals('false')}" th:text="#{objet}"></strong>&nbsp; 
				<span th:text="${enclosure.get('subject').getAsString()}"></span>
		</p>
	</div>
		
</body>


</html>
