<mat-card class="error-download-code-card">
  <mat-card-content class="error-download-code-card-content">
    <mat-icon class="error-download-code-card-content-icon" aria-hidden="true">lock_outline</mat-icon>
    <div class="error-download-code-card-content-text">
      <span class="error-download-code-card-content-text-title">{{'Accès_Pli_Sécurisé' | translate}}</span>
    </div>
    <div class="error-download-code-card-content-error">
      <span>{{errorMessage | translate}}</span>
    </div>
  </mat-card-content>
</mat-card>
