<mat-card class="loader-card">
    <mat-card-content class="loader-card-content">
        <div class="progress-spinner-wrapper">
            <mat-progress-spinner [mode]="mode" [value]="progressValue" diameter="150" strokeWidth="4"></mat-progress-spinner>
            <div class="progress-spinner-inner-text">{{progressValue}} %</div>
        </div>
        <div class="loader-card-content-text">
            <span class="loader-card-content-text-title">  {{'CréationTransfert' | translate}}</span>
            <span class="loader-card-content-text-sub"></span>
        </div>
    </mat-card-content>
    <mat-card-actions class="loader-card-actions">
        <button mat-raised-button
            class="loader-card-actions-btn" (click)="cancelTransfer()" attr.aria-label="{{'Annuler' | translate}}"> {{'Annuler' | translate}}</button>
    </mat-card-actions>
</mat-card>
