environnement: &environnement production

rootUrl: &rootUrl francetransfert.numerique.gouv.fr

# imagePullSecrets: "registry-pull-secret"
nameOverride: ""
fullnameOverride: ""

overrideGlobalConf:
  ROOT_LOG_LEVEL: "INFO"
  FT_LOG_LEVEL: "INFO"
  UPLOAD_LIMIT: "21474836480"
  UPLOAD_FILE_LIMIT: "2147483648"
  APPLICATION_COOKIES_DOMAIN: ""
  ENCLOSURE_EXPIRE_DAYS: "30"
  ENCLOSURE_MAX_PASSWORD_TRY: "5"
  ENVIRONNEMENT: "PROD"
  PASSWORD_MINSIZE: "12"
  PASSWORD_MAXSIZE_GENERATED: "20"
  PASSWORD_LOWER_MIN: "3"
  PASSWORD_UPPER_MIN: "3"
  PASSWORD_SPECIAL_MIN: "3"
  PASSWORD_SPECIAL_LIST: "!@#$%^&*()_-:+"
  PASSWORD_DIGIT_MIN: "3"
  URL_DOWNLOAD_API: "https://francetransfert.numerique.gouv.fr/download/"
  URL_ADMIN_PAGE: "https://francetransfert.numerique.gouv.fr/admin"
  MAIL_IMAGE_FT_LOGO: "https://francetransfert.numerique.gouv.fr/statics/logos/france_transfert_logo.svg"
  MAIL_IMAGE_FT_FILE: "https://francetransfert.numerique.gouv.fr/statics/email-contents/Fichier_white.png"
  MAIL_IMAGE_FT_FOLDER: "https://francetransfert.numerique.gouv.fr/statics/email-contents/Dossier_white.png"
  MAIL_IMAGE_FT_ACCESSBUTTON: "https://francetransfert.numerique.gouv.fr/statics/email-contents/acceder-fichiers.png"

maintenance:
  enabled: false

clamav:
  enabled: true
  hpa:
    enabled: false
    custom:
      enabled: true
    maxReplicas: 4
    minReplicas: 1
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 80
    behavior:
      scaleDown:
        stabilizationWindowSeconds: 180
        selectPolicy: Max
        policies:
        - type: Percent
          value: 100
          periodSeconds: 60
      scaleUp:
        stabilizationWindowSeconds: 90
        policies:
        - type: Pods
          value: 1
          periodSeconds: 90
  startupProbe:
    failureThreshold: 60
    initialDelaySeconds: 60
    periodSeconds: 60
    successThreshold: 1
    tcpSocket:
      port: tcp-clamav
    timeoutSeconds: 60
  resources:
    requests:
      cpu: 250m
      memory: 3Gi
    limits:
      memory: 3Gi
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 100101
    runAsGroup: 100101
    fsGroup: 100101
  securityContext:
    seccompProfile:
      type: RuntimeDefault
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    privileged: false
    capabilities:
      drop:
        - ALL
  freshclamConfig: |
    Bytecode yes
    DatabaseDirectory /data
    DatabaseMirror database.clamav.net
    DatabaseOwner 100101
    LogTime yes
    NotifyClamd /etc/clamav/clamd.conf
    PidFile /tmp/freshclam.pid        
    ScriptedUpdates yes
    SafeBrowsing "yes"
  clamdConfigDict:
    ###############
    # General
    ###############
    DatabaseDirectory: /data
    TemporaryDirectory: /tmp
    LogTime: "yes"
    # CUSTOM: Use pid file in tmp
    PidFile: /tmp/clamd.pid
    LocalSocket: /tmp/clamd.sock
    TCPSocket: 3310
    Foreground: "yes"

    ###############
    # Results
    ###############
    DetectPUA: "yes"
    ExcludePUA:
      - NetTool
      - PWTool
    HeuristicAlerts: "yes"
    Bytecode: "yes"

    ###############
    # Scan
    ###############
    ScanPE: "yes"
    DisableCertCheck: "yes"
    ScanELF: "yes"
    AlertBrokenExecutables: "yes"
    ScanOLE2: "yes"
    OLE2BlockMacros: "yes"
    ScanPDF: "yes"
    ScanSWF: "yes"
    ScanMail: "yes"
    PhishingSignatures: "yes"
    PhishingScanURLs: "yes"
    ScanHTML: "yes"
    ScanArchive: "yes"
    MaxScanSize: 2000M
    StreamMaxLength: 2000M
    MaxFileSize: 2000M
    MaxRecursion: 10

redis:
  auth: true
  existingSecret: "ft-secret-app"
  authKey: METALOAD_PASSWORD
  topologySpreadConstraints:
    enabled: true
    maxSkew: 1
    topologyKey: topology.kubernetes.io/zone
    whenUnsatisfiable: DoNotSchedule
  redis:
    updateStrategy:
      type: OnDelete
    terminationGracePeriodSeconds: 300
    startupProbe:
      enabled: true
      initialDelaySeconds: 30
      periodSeconds: 30
      timeoutSeconds: 15
      successThreshold: 1
      failureThreshold: 30
    port: 6379
    resources:
      requests:
        cpu: 500m
        memory: 8Gi
      limits:
        memory: 8Gi
    config:
      # # restoration
      # appendonly: "no"
      # aof-use-rdb-preamble: "no"
      # dbfilename: "init-ftr-data.rdb"
      # appendfilename: "init-appendonly.aof"
      # appendfsync: "no"
      # --------------------------------
      # normal
      appendonly: "yes"
      aof-use-rdb-preamble: "yes"
      dbfilename: "ftr-data.rdb"
      appendfilename: "appendonly.aof"
      appendfsync: "everysec"
      maxmemory: "0"
      maxmemory-policy: "volatile-lru"
      save: "7200 1 3600 10000"
      auto-aof-rewrite-percentage: "100"
      auto-aof-rewrite-min-size: "2048mb"
    disableCommands:
      - FLUSHDB
      - FLUSHALL
  sentinel:
    enabled: true
    port: 26379
    auth: true
    existingSecret: "ft-secret-app"
    authKey: METALOAD_PASSWORD
    persistence:
      enabled: true
      size: 5Gi
    resources:
      limits:
        ephemeral-storage: 1Gi
        memory: 512Mi
      requests:
        cpu: 250m
        ephemeral-storage: 50Mi
        memory: 128Mi
  networkPolicy:
    enabled: false
    allowExternal: false
  global:
    compatibility:
      openshift:
        adaptSecurityContext: auto
  persistentVolume:
    enabled: true
    storageClass: bsu-gp2
    size: 50Gi
    accessModes:
      - ReadWriteOnce
  podDisruptionBudget:
    maxUnavailable: 1

mailhog:
  enable: false
  replicaCount: 1
  image:
    repository: mailhog/mailhog
    tag: "latest"
    imagePullPolicy: Always
  service:
    portSmtp: 1025
    targetPortStmp: 1025
    portHttp: 8025
    targetPortHttp: 8025
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      memory: 256Mi
  podSecurityContext: {}
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 100101
    runAsGroup: 100101

front:
  replicaCount: 2
  image:
    repository: lasuite/francetransfert-upload-download-gui
    tag: 4.0.9
    imagePullPolicy: Always
  service:
    port: 8080
    targetPort: 8080
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      memory: 256Mi
  podSecurityContext: {}
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 100101
    runAsGroup: 100101
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    cpu:
      averageUtilization: 80

upload:
  replicaCount: 4
  readinessLiveness:
    readinessProbe:
      httpGet:
        path: /actuator/health
        port: 8880
      initialDelaySeconds: 5
      periodSeconds: 10
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8880
      initialDelaySeconds: 5
      periodSeconds: 10
  image:
    repository: lasuite/francetransfert-upload-api
    tag: 4.0.9
    imagePullPolicy: Always
  service:
    port: 8080
    targetPort: 8080
    managementPort: 8880
  resources:
    requests:
      cpu: 500m
      memory: 1024Mi
    limits:
      memory: 1024Mi
  overrideConf:
    JAVA_TOOL_OPTIONS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    JAVA_OPTS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    SERVER_TOMCAT_BASEDIR: "/opt/work/"
    SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: "20MB"
    SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: "20MB"
    SERVER_TOMCAT_MAX-PART-COUNT: "50"
    SERVER_TOMCAT_MAX-PART-HEADER-SIZE: "20MB"
    ENABLEMTLS: "false"
    DISABLESSL: "false"
    SERVER_PORT: "8080"
    MANAGEMENT_SERVER_PORT: "8880"
    MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,metrics,prometheus"
    SERVER_COMPRESSION_ENABLED: "true"
    SERVER_COMPRESSION_MIMETYPES: application/json,application/xml,text/css,text/html,text/xml,text/plain,application/javascript
    UPLOAD_LIMIT_SENDERMAIL: "10"
    UPLOAD_FILE_LIMIT: "2147483648"
    UPLOAD_TOKEN_CHUNKMODULO: "6"
    UPLOAD_EXPIRED_LIMIT: "90"
    EXPIRE_CONFIRMATION_CODE_LENGTH: "8"
    EXPIRE_TOKEN_SENDER: "1800"
    EXPIRE_TOKEN_INITAPI: "120"
    CAPTCHA_URL: "https://francetransfert.numerique.gouv.fr/captcha/services/v1.2/captchaService"
    CAPTCHA_SECURE: "false"
    URL_DOWNLOAD_PUBLIC: "https://francetransfert.numerique.gouv.fr/download/download-info-public?enclosure="
    AGENTCONNECT_ENABLED: "true"
    AGENTCONNECT_ISSUERURL: https://francetransfert.numerique.gouv.fr/auth
    AGENTCONNECT_CLIENTID: angular-spa
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://francetransfert.numerique.gouv.fr/auth
  podSecurityContext:
    runAsUser: 100102
    runAsGroup: 100102
    fsGroup: 100102
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 100102
    runAsGroup: 100102
  hpa:
    enabled: false
    minReplicas: 4
    maxReplicas: 4
    cpu:
      averageUtilization: 80
  persistentVolumeClaim:
    storage: 20Gi
    accessModes: ReadWriteOnce
    storageClassName: bsu-gp2

download:
  replicaCount: 2
  readinessLiveness:
    readinessProbe:
      httpGet:
        path: /actuator/health
        port: 8180
      initialDelaySeconds: 5
      periodSeconds: 10
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8180
      initialDelaySeconds: 5
      periodSeconds: 10
  image:
    repository: lasuite/francetransfert-download-api
    tag: 4.0.9
    imagePullPolicy: Always
  service:
    port: 8081
    targetPort: 8081
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 512Mi
  overrideConf:
    JAVA_OPTS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    JAVA_TOOL_OPTIONS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    SERVER_PORT: "8081"
    MANAGEMENT_SERVER_PORT: "8180"
    SERVER_COMPRESSION_ENABLED: "true"
    SERVER_COMPRESSION_MIMETYPES: "application/json,application/xml,text/css,text/html,text/xml,text/plain,application/javascript"
    ENCLOSURE_MAX_DOWNLOAD: "5"
    ENCLOSURE_MAX_PASSWORD_TRY: "5"
    AGENTCONNECT_ENABLED: "true"
    AGENTCONNECT_ISSUERURL: https://francetransfert.numerique.gouv.fr/auth
    AGENTCONNECT_CLIENTID: angular-spa
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://francetransfert.numerique.gouv.fr/auth
  podSecurityContext: {}
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 100103
    runAsGroup: 100103
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    cpu:
      averageUtilization: 80

worker:
  # type: deploy/sts
  type: deploy
  replicaCount: 0
  terminationGracePeriodSeconds: 180
  readinessLiveness:
    readinessProbe:
      httpGet:
        path: /actuator/health
        port: 8380
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 60
      successThreshold: 1
      failureThreshold: 5
    livenessProbe:
      httpGet:
        path: /actuator/health
        port: 8380
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 60
      successThreshold: 1
      failureThreshold: 5
  image:
    repository: lasuite/francetransfert-worker
    tag: 4.0.9
    imagePullPolicy: Always
  resources:
    requests:
      cpu: 1
      memory: 3Gi
    limits:
      memory: 3Gi
  service:
    managementPort: 8380
  overrideConf:
    MANAGEMENT_SERVER_PORT: "8380"
    MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,metrics,prometheus"
    JAVA_OPTS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    JAVA_TOOL_OPTIONS: '-XX:+UseContainerSupport -XX:MaxRAMPercentage=60.0 -Duser.timezone="Europe/Paris"'
    SERVER_TOMCAT_BASEDIR: "/tmp/work/"
    TMP_FOLDER_PATH: /data/
    SCAN_CLAMAV_TIMEOUT: "20000"
    SCAN_CLAMAV_CHUNKSIZE: "655360"
    SCAN_CLAMAV_MAXFILESIZE: "2147483648"
    GLIMPS_DELAY_SECONDS: "15"
    GLIMPS_MAXTRY: "5"
    GLIMPS_ERROR_DELAY_SECONDS: "120"
    GLIMPS_ENABLED: "true"
    GLIMPS_RETRYCODE: "504,512"
    GLIMPS_KNOWNCODE: "5001,5000"
    GLIMPS_ALLOWCODE: "4001"
    WORKER_EXPIRED_LIMIT: "90"
    POOL_SIZE: "50"
    SATISFACTIONWORKEREXECUTOR_POOL_SIZE: "2"
    SENDEMAILCONFIRMATIONCODEWORKER_POOL_SIZE: "2"
    TEMPDATACLEANUPWORKEREXECUTOR_POOL_SIZE: "2"
    ZIPWORKEREXECUTOR_POOL_SIZE: "3"
    SENDEMAILDOWNLOADINPROGRESSWORKEREXECUTOR_POOL_SIZE: "2"
    UPLOADDOWNLOADWORKEREXECUTOR_POOL_SIZE: "2"
    STATWORKEREXECUTOR_POOL_SIZE: "2"
    EXPIRE_MONTH: "12"
    RELAUNCH_MAIL_DAYS: "7"
    SCHEDULED_RELAUNCH_MAIL: "0 0 2 * * ?"
    SCHEDULED_CLEAN_UP: "0 30 0 * * *"
    SCHEDULED_APP_SYNC_CLEANUP: "20 0 */1 * * *"
    SCHEDULED_APP_SYNC_RELAUNCH: "20 0 */1 * * *"
    SCHEDULED_APP_SYNC_IGNIMISSION_DOMAIN: "20 0 */1 * * *"
    SCHEDULED_IGNIMISSION_DOMAIN: "0 45 3 * * *"
    SCHEDULED_APP_SYNC_REF_DOMAIN: "20 0 */1 * * *"
    SCHEDULED_REF_DOMAIN: "0 45 2 * * *"
    SCHEDULED_SEND_STAT: "0 10 2 * * *"
    SCHEDULED_SENDCHECKMAIL: "0 0 0 1 * ?"
    SCHEDULED_CHECKMAIL: "0 0 0 1 * ?"
    SCHEDULED_SYNC_CHECKMAIL: "20 */45 * * * ?"
    SCHEDULED_SYNC_CHECKGLIMPS: "10 */2 * * * ?"
    SCHEDULED_CHECKGLIMPS: "0 */2 * * * ?"
    SCHEDULED_SYNC_HEALTHCHECK: "10 */2 * * * ?"
    SCHEDULED_HEALTHCHECK: "0 */2 * * * ?"
    DEEPCLEAN_WEEKDAY: "7"
    QUEUE_SIZE: "2"
    QUEUE_SLEEP: "200"
    DISABLESSL: "false"
    ENABLEMTLS: "false"
    STORAGE_REQUEST_TIMEOUT: "300000"
    DOWNLOADEXECUTOR_ENABLED: "false"
    DOWNLOADEXECUTOR_POOL_SIZE: "1"
  scaler:
    enabled: true
    env:
      - name: DOWNLOADEXECUTOR_ENABLED
        value: "true"
      - name: DOWNLOADEXECUTOR_POOL_SIZE
        value: "10"
      - name: QUEUE_SIZE
        value: "1"
      - name: ZIPWORKEREXECUTOR_POOL_SIZE
        value: "3"
    replicaCount: 2
    data:
      persistentVolumeClaim:
        storage: 140Gi
        accessModes: ReadWriteOnce
        storageClassName: bsu-io1
  data:
    persistentVolumeClaim:
      storage: 200Gi
      accessModes: ReadWriteOnce
      storageClassName: bsu-gp2
  tmp:
    persistentVolumeClaim:
      storage: 15Gi
      accessModes: ReadWriteOnce
      storageClassName: bsu-gp2
  podSecurityContext:
    runAsUser: 100104
    runAsGroup: 100104
    fsGroup: 100104
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 100104
    runAsGroup: 100104
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    metrics:
      - type: Pods
        pods:
          metric:
            name: scale_ft_queue_zip_size
          target:
            type: AverageValue
            averageValue: "35"
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 500
        policies:
          - type: Pods
            value: 1
            periodSeconds: 300
        selectPolicy: Max
      scaleDown:
        stabilizationWindowSeconds: 900
        policies:
          - type: Pods
            value: 1
            periodSeconds: 1500

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    nginx.ingress.kubernetes.io/custom-headers: francetransfert-prd1/csp-headers
    #nginx.ingress.kubernetes.io/whitelist-source-range: "178.33.22.0/26,185.179.148.0/22,185.231.164.0/22,195.216.140.106/32,94.231.41.182/32,199.83.128.0/21,198.143.32.0/19,149.126.72.0/21,103.28.248.0/22,185.11.124.0/22,192.230.64.0/18,45.64.64.0/22,107.154.0.0/16,45.60.0.0/16,45.223.0.0/16,131.125.128.0/17"
    nginx.ingress.kubernetes.io/whitelist-source-range: "195.216.140.106/32,94.231.41.182/32"
  upload:
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "200M"
      nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
      nginx.ingress.kubernetes.io/custom-headers: francetransfert-prd1/csp-headers
      nginx.ingress.kubernetes.io/whitelist-source-range: "195.216.140.106/32,94.231.41.182/32"
      #nginx.ingress.kubernetes.io/whitelist-source-range: "178.33.22.0/26,185.179.148.0/22,185.231.164.0/22,195.216.140.106/32,94.231.41.182/32,199.83.128.0/21,198.143.32.0/19,149.126.72.0/21,103.28.248.0/22,185.11.124.0/22,192.230.64.0/18,45.64.64.0/22,107.154.0.0/16,45.60.0.0/16,45.223.0.0/16,131.125.128.0/17"
  hosts:
    - francetransfert.numerique.gouv.fr
    - ft.lasuite-blo-prd-osc-cgw1-wapp-02.k8s.opicloud.numerique.gouv.fr
  tls:
    - secretName: transfert-tls
      hosts:
        - francetransfert.numerique.gouv.fr
    - secretName: transfert1-tls
      hosts:
        - ft.lasuite-blo-prd-osc-cgw1-wapp-02.k8s.opicloud.numerique.gouv.fr

backup:
  backupDate: "2025_09_05_042501"
  enabled: true
  schedule: "20 4 * * *"
  persistentVolumeClaim:
    storage: 25Gi
    storageClassName: bsu-gp2
  podSecurityContext:
    runAsUser: 110101
    runAsGroup: 110101
    fsGroup: 110101
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 110101
    runAsGroup: 110101

benchmark:
  schedule: "0 0 0 1 * ?"
  persistentVolumeClaim:
    storage: 200Gi
    storageClassName: bsu-gp2

dex:
  rbac:
    createClusterScoped: false
  enabled: true
  service:
    ports:
      http:
        port: 5556
  replicaCount: 2
  configSecret:
    create: false
    name: ft-secret-dex
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  podSecurityContext:
    runAsUser: 120101
    runAsGroup: 120101
    fsGroup: 120101
  securityContext:
    privileged: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
    runAsNonRoot: true
    runAsUser: 120101
    runAsGroup: 120101
  serviceMonitor:
    enabled: true
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  volumes: 
    - name: tmp
      emptyDir:
        sizeLimit: 250Mi
  volumeMounts:
    - name: tmp
      mountPath: /tmp
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: dex
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: dex
