apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "france-transfert.fullname" . }}-download-app 
spec:
  replicas: {{ .Values.download.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "france-transfert.fullname" . }}-download-app
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "france-transfert.fullname" . }}-download-app
        release: {{ .Release.Name }}
        tier: back
    spec:
      automountServiceAccountToken: false
      {{ if .Values.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets }}
      {{ end }}
      containers:
      - name: {{ include "france-transfert.fullname" . }}-download-app
        image: {{ .Values.download.image.repository }}:{{ .Values.download.image.tag }}
        imagePullPolicy:  {{ .Values.download.image.imagePullPolicy }}          
        envFrom:
        - configMapRef:
            name:  app-config-map-{{ .Release.Name }}
        - configMapRef:
            name: download-override-conf-{{ .Release.Name }}
        - secretRef:
            name: ft-secret-app
        ports:
        - containerPort: {{ .Values.download.service.port }}
        {{- toYaml .Values.download.readinessLiveness | nindent 8 }}
        securityContext:
          {{- toYaml .Values.download.securityContext | nindent 10 }}
        resources:
          {{- toYaml .Values.download.resources | nindent 10 }}
        volumeMounts:
          - name: tmp-volume
            mountPath: /tmp
          - name: work-volume
            mountPath: /opt/work/
      volumes:
      - name: tmp-volume
        emptyDir:
          sizeLimit: 250Mi
      - name: work-volume
        emptyDir:
          sizeLimit: 250Mi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: {{ include "france-transfert.fullname" . }}-download-app
        - minDomains: 3
          maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: {{ include "france-transfert.fullname" . }}-download-app
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: {{ include "france-transfert.fullname" . }}-download-app
                topologyKey: kubernetes.io/hostname
              weight: 1
