/target/
/.settings/
/.project
/.classpath
/francetransfert-worker.iml
/FTR-worker-api.iml

# IntelliJ
.idea/
**/*.iml
*.iml

# Maven
target/
**/target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
