.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .card-formulaire {
    background-color: #ffffff;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 4px;
    height: 80%;
    //width: 35%;
    //margin-top: 2%;
    //height: 80%;
    //width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;

    .mat-divider {
      display: block;
      margin: 0;
      border-top-width: 3px !important;
      border-top-style: solid;
      border-top-color: black !important;
    }

    .contact-parameters {
      margin: 1% 3% 5% 3%;
    }

    ::ng-deep textarea.mat-input-element {
      min-height: 80px;
      max-height: 160px;
      height: 80px;
    }

    .mat-form-field {
      width: 100%;

      .icon-btn {
        cursor: pointer;
      }
    }

    .link {
      color: var(--ft-blue-france);
      text-decoration: underline;
    }

    .card-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 2.5rem;
      padding-right: 1rem;
      padding-top: 2%;
      padding-bottom: 1%;

      .mat-raised-button.cdk-keyboard-focused:not([class*=mat-elevation-z]){
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) !important;
        outline-style: solid;
        outline-width: 2px;
        outline-offset: 2px;
        outline-color: #1212ff;
    }

      ::ng-deep .card-actions-btn {
        background-color: var(--ft-blue-france);
        color: var(--ft-white);
      }

      ::ng-deep .card-actions-btn.mat-button-disabled {
        background-color: var(--ft-grey);
        color: var(--ft-mention);
      }
    }

    .befor-field {
      text-align: end;
      color: var(--ft-mention);
      font-size: 12px;
      padding-bottom: 4%;
    }

    .after-field {
      text-align: start;
      color: var(--ft-mention);
      font-size: 12px;
      padding-bottom: 4%;
      padding-top: 2%;
      padding-left: 3%;
    }



    .contact-header {
      width: 100%;
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 3%;
      color:var(--ft-mention) !important;

      ::ng-deep .mat-tab-label-content {
        width: 100%;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        background-color: var(--ft-primary);
      }
    }

    .captcha-container {
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      .captcha-text {
        margin-left: 1%;
      }
      .captcha-button {
        margin-left: 1%;
      }
    }
  }
}

 ::ng-deep .mat-snack-bar-container{
  padding: 0px !important;
  background-color: #FFFFFF;
  color: #0a0a0a;
  border-color: #40a02b;
  border-style: solid;
}

@media screen and  (min-width: 1300px) {
  .contact-container{
    height: 100%;
    width: 100%;
    .card-formulaire {
      width: 40%;
      margin-top: 2%;

    }
  }
}

@media screen and  (min-width: 812px) and (max-width: 1300px) {
  .contact-container{
    height: 100%;
    width: 100%;
    .card-formulaire {
      width: 60%;
      margin-top: 5%;

    }
  }
}
@media screen and (min-width: 580px) and (max-width: 812px) {
  .contact-container{
    height: 100%;
    width: 100%;
    .card-formulaire {
      width: 88%;
      margin-top: 15%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .contact-container{
    height: 100%;
    width: 100%;
    .card-formulaire {
      width: 90%;
      margin-top: 22%;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .contact-container{
    height: 100%;
    width: 100%;
    .card-formulaire {
      width: 90%;
      margin-top: 33%;
    }
  }
}
