<form [formGroup]="formulaireContactForm" class="contact-container">
  <div class="card-formulaire">
    <div class="contact-parameters">
      <div class="contact-header ">
        <span>{{'Contact' | translate}}</span>
      </div>
      <mat-divider></mat-divider>

      <div [innerHTML]="'ContactQs1' | translate">
      </div>

      <div class="card-actions">
        <button type="button" mat-raised-button class="card-actions-btn" (click)="goToExternalLink('https://francetransfert.crisp.help/fr/',true)"
          matTooltip="{{'FAQ' | translate}}" [matTooltipPosition]="'above'" attr.aria-label="{{'FAQ' | translate}}">
          <mat-icon>keyboard_arrow_right</mat-icon> {{'FAQ'| translate}}
        </button>
      </div>
      <div class="card-actions">
        <button type="button" mat-raised-button class="card-actions-btn"
          (click)="goToExternalLink('https://resana.numerique.gouv.fr/public/information/consulterAccessUrl?cle_url=973768343A2lUNFZaBTlcMQNlC2UEJAA+CTQCI1Y/VzxYZVY3ATkFNlVkVjdSMQM4AjcLOQ==')"
          matTooltip="{{'ContactButton' | translate}}" [matTooltipPosition]="'above'"
          attr.aria-label="{{'ContactButton' | translate}}">
          <mat-icon>keyboard_arrow_right</mat-icon> {{'ContactButton'| translate}}
        </button>
      </div>

      <div [innerHTML]="'ContactQs2' | translate">
      </div>
      <div [innerHTML]="'ContactText' | translate">
      </div>

    </div>



  </div>

</form>