apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "france-transfert.fullname" . }}-upload-app 
spec:
  replicas: {{ .Values.upload.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "france-transfert.fullname" . }}-upload-app
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "france-transfert.fullname" . }}-upload-app
        release: {{ .Release.Name }}
        tier: back
    spec:
      automountServiceAccountToken: false
      {{ if .Values.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets }}
      {{ end }}
      securityContext:
        {{- toYaml .Values.worker.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ include "france-transfert.fullname" . }}-upload-app
        image: {{ .Values.upload.image.repository }}:{{ .Values.upload.image.tag }}
        imagePullPolicy: {{ .Values.upload.image.imagePullPolicy }}
        envFrom:
        - configMapRef:
            name: upload-override-conf-{{ .Release.Name }}
        - configMapRef:
            name:  app-config-map-{{ .Release.Name }}
        - secretRef:
            name: ft-secret-app
        volumeMounts:
          - name: work-volume
            mountPath: /tmp
          - name: work-volume
            mountPath: /opt/work/
        ports:
        - containerPort: {{ .Values.upload.service.port }}
          name: http
        - containerPort: {{ .Values.upload.service.managementPort }}
          name: management
        {{- toYaml .Values.upload.readinessLiveness | nindent 8 }}
        resources:
          {{- toYaml .Values.upload.resources | nindent 10 }}
        securityContext:
          {{- toYaml .Values.upload.securityContext | nindent 10 }}
      volumes:
      - name: work-volume
        ephemeral:
          volumeClaimTemplate:
            metadata:
              labels:
                type: uploadwork
            spec:
              accessModes: [ "ReadWriteOnce" ]
              {{ if .Values.upload.persistentVolumeClaim.storageClassName }}
              storageClassName: {{ .Values.upload.persistentVolumeClaim.storageClassName }}
              {{ end }}
              resources:
                requests:
                  storage: {{ .Values.upload.persistentVolumeClaim.storage }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: {{ include "france-transfert.fullname" . }}-upload-app
        - minDomains: 3
          maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: {{ include "france-transfert.fullname" . }}-upload-app
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: {{ include "france-transfert.fullname" . }}-upload-app
                topologyKey: kubernetes.io/hostname
              weight: 1
      
