<form [formGroup]="envelopeLinkForm" class="envelope-link-form-container">

  <div class="envelope-link-form-info">
    <span>{{'ChampsObligatoires' | translate}}</span>
  </div>

  <div class="envelope-link-form-group  resize-icon">
    <mat-form-field>
      <mat-label>{{'NomTransfert' | translate}}</mat-label>
      <input matInput placeholder="{{'Facultatif' | translate}}" formControlName="subject">
      <button mat-icon-button matSuffix mat-stroked-button attr.aria-label="{{'TooltipNomTransfert' | translate}}"
        matTooltip="{{'TooltipNomTransfert' | translate}}" class="backgroundColor">
        <mat-icon matSuffix aria-hidden="true" class="mat-icon" attr.aria-label="{{'TooltipNomTransfert' | translate}}">
          info_outline</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="envelope-link-form-group">
    <mat-form-field>
      <mat-label>{{'Expéditeur' | translate}}</mat-label>
      <input id="sendermail" name="email" matInput [readonly]="isLoggedIn()" [disabled]="isLoggedIn()"
        placeholder="Votre adresse courriel" formControlName="from" autocomplete="email" required>
      <mat-error role="alert" *ngIf="f.from.errors?.required">{{'ExpéditeurRequis' | translate}}</mat-error>
      <mat-error role="alert" *ngIf="f.from.errors?.email">{{'AdresseRequis' | translate}}</mat-error>
      <mat-error role="alert" *ngIf="f.from.errors?.notValid">{{'LienRéservé' | translate}}</mat-error>
      <mat-error role="alert" *ngIf="f.from.errors?.quota">{{'QotaDépassé' | translate}}
      </mat-error>

    </mat-form-field>
  </div>

  <div class="envelope-link-form-group">
    <mat-form-field>
      <mat-label>{{'Message' | translate}}</mat-label>
      <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" matInput placeholder="(Facultatif)"
        formControlName="message" autocomplete="off" maxlength=2500 [maxLength]=2500></textarea>
    </mat-form-field>
  </div>

  <div class="envelope-link-form-group mat-checkbox-layout">
    <mat-checkbox formControlName="cguCheck">
      <div [innerHTML]="'CGU' | translate">
      </div>
    </mat-checkbox>
  </div>

</form>