<div class="fr-alert fr-alert--info" style="display: flex;">
  <div class="fr-alert--info fr-alert--info-icon" style="background-color: blue; width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;">
    <mat-icon style="color: white;margin-left: 21%">info</mat-icon>
  </div>
  <div class="fr-alert--info-text" >
    <p class="fr-alert__title" style="font-weight: bolder;font-size: 14px"> {{'Information' | translate}} </p>
    <p> {{'Fichier_Dossier_DéjàPrésent' | translate}} </p>
  </div>
</div>
