name: Publish Core
on:
  workflow_call:
  push:
    paths:
      - francetransfert-core/**
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
      - uses: s4u/maven-settings-action@v4.0.0
        with:
          override: false
          githubServer: true
      - name: Publish package
        run: mvn --batch-mode clean package deploy
        working-directory: francetransfert-core
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
